<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Blue Bank Back Office</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLink="/registration-component"
          routerLinkActive="active"
          >Registration<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          routerLink="/documents-component"
          routerLinkActive="active"
          >Documents<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container" id="main-container">
  <router-outlet></router-outlet>
</div>
