<form class="form-inline my-2 my-lg-0">
  <input
    type="search"
    (ngModelChange)="searchDocuments(key.value)"
    #key="ngModel"
    ngModel
    name="key"
    id="searchName"
    class="form-control mr-sm-2"
    placeholder="Search documents..."
    required
  />
</form>
<div class="container" id="main-container">
  <!-- List -->
  <div class="row"></div>
  <!-- Add Modal -->
  <div
    class="modal fade"
    id="addDocumentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addDocumentModalLabel"
    aria-hidden="true"
  ></div>
  <!-- Edit Modal -->
  <div
    class="modal fade"
    id="updateDocumentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editDocumentModalLabel"
    aria-hidden="true"
  ></div>
  <!-- Delete Modal -->
  <div
    class="modal fade"
    id="deleteDocumentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="deleteDocumentModalLabel"
    aria-hidden="true"
  ></div>
</div>
<!-- Notification for no documents -->
<div *ngIf="documents?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No documents!</h4>
    <p>No Documents were found.</p>
  </div>
</div>
